body {
    padding: 0;
    margin: 0;
}

.login-wrapper {
    background: linear-gradient(211.79deg, #2B8BE3 6.12%, #663FB5 90.47%);
    mix-blend-mode: normal;
    height: 100vh;
    position: relative;
}

.login-wrapper img {
    position: absolute;
    top: 30%;
    left: 50%;
}

.login-wrapper form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.form__field {
    background: none;
    border: 2px solid #fff; 
    box-sizing: border-box;
    border-radius: 4px;
    padding: 23px;
    background-repeat: no-repeat;
    background-position: 13px 19px;
    padding-left: 45px;
}

.form__field::placeholder {
    color: #fff;
}

#username__field {
    background-image: url("../images/person-white.svg");
}

#password__field {
    background-image: url("../images/lock-white.svg");
}

#submit__button {
    background: none;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 23px 55px;
    color: #fff;
}

.login-wrapper form input {
    margin: 0px 10px;
}

/* MEDIA QUERY */
@media only screen and (max-width: 600px) {
    
}