body {
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(211.79deg, #2B8BE3 6.12%, #663FB5 90.47%);
    mix-blend-mode: normal;
    height: 100vh;
}

.header-wrapper {
    margin: 0 auto;
    max-width: 1140px;
}

.header-wrapper nav {
    margin-top: 51px;
    float: right;
}

.header__logo {
    margin-top: 35px;
}

.header-wrapper nav a {
    margin-left: 19px;
    margin-right: 19px;
    text-decoration: none;
    color: #fff;
}  

.header-wrapper nav a:hover {
    margin-left: 19px;
    margin-right: 19px;
    border-bottom: 2px solid #FFFFFF;
}

.header__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
}

.header__center h1 {
    font-size: 80px;
    padding: 0px;
    margin: 0px;
}

.header__center h4 {
    font-size: 26px;
    padding: 0px;
    margin: 0px;
}

.header__center button {
    height: 60px;
    width: 236px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
    background: none;
    background-image: url("../images/diamond.svg");
    background-position: 34px 17px;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 13px;
    line-height: 17px;
    margin-top: 65px;
}

.header__bottom {
    position: absolute;
    top: 95.8%;
    left: 50%;
    transform: translate(-50%, -20%);
    align-items: center;
}

.header__bottom__social-stat {
    display: inline;
    mix-blend-mode: normal;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 27px;
    padding-left: 16px;
    color: #fff;
}

.header__bottom #linkedin-section {
    border: none;
}

.intro {
    height: 236px;
    background: #F4F5F7;
    position: relative;
}

.intro__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    color: #424753;
    font-family: sans-serif;
}

.intro__text h2 {
    font-size: 28px;
}

.intro__text h4 {
    font-size: 16px;
}

.stats {
    height: 523px;
    background: #fff;
    position: relative;
}

.stats-wrapper {
    margin: 0 auto;
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stats-wrapper article {
    height: 332px;
    width: 362px;
    float: left;
    /* margin:  */
    position: relative;
    color: #424753;
}

#stats__article__center {
    margin-left: 20px;
    margin-right: 20px;
}

.stats__view {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: sans-serif;
    text-align: center;
}

.stats__view img {
    border: 5px solid rgba(66, 71, 83, 0.1);
    border-radius: 50%;
    padding: 10px;
}

.stats__view h2 {
    font-size: 36px;
    padding: 0px;
    margin-bottom: 0px;
}

.stats__view h4 {
    margin-top: 12px;
    padding: 0px;
    font-size: 16px;
}

.stats-wrapper article p {
    border-top: 1px solid #EDEDEF;
    position: absolute;
    top: 50%;
    text-align: center;
    padding-top: 28px;
    line-height: 32px;
}

.pricing {
    height: 872px;
    background: #F4F5F7;
    position: relative;
}

.pricing-wrapper {
    margin: 0 auto;
    width: 1140px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: sans-serif;
}

.pricing-wrapper h1 {
    margin-top: 90px;
    color: #424753;
    font-size: 28px;
}

.pricing-wrapper article {
    height: 524px;
    width: 360px;
    float: left;
    margin-top: 97px;
    background: #fff;
    border: 1px solid #ECEFF3;
    box-sizing: border-box;
    border-radius: 4px;
}

.pricing__article__top-view {
    width: 100%;
    height: 51px;
    background: #ECEFF3;
    position: relative;
    align-items: center;
}

.pricing__article__top-view h3 {
    padding: 0px;
    margin: 0px;
}

.pricing-wrapper article p {
    padding: 0px 30px;
    line-height: 32px;
    color: #424753;
}

.pricing-wrapper article h1 {
    padding: 0px;
    margin: 0px;
    font-size: 68px;
    margin-right: 50px;
    color: #424753;
}

.pricing__article__dollar-sign {
    font-size: 28px;
}

.pricing-wrapper article h2 {
    padding: 0px;
    margin: 0px 113px;
    font-size: 13px;
    color: rgba(66, 71, 83, 0.8);
    float: right;
}

.pricing-wrapper article h3 {
    color: #424753;
    font-family: sans-serif;
    font-size: 16px;
    border-top: 1px solid #EDEDEF;
    padding-top: 15px;
}

.pricing-wrapper article button {
    color: rgba(108, 89, 180, 0.75);
    background: none;
    border: 2px solid rgba(108, 89, 180, 0.75);
    box-sizing: border-box;
    border-radius: 40px;
    padding: 23px 70px;
    margin-top: 41px;
}

.pricing-wrapper #pricing__article__center {
    height: 581px;
    width: 410px;
    margin-top: 74px;
    border: 2px solid rgba(108, 89, 180, 0.75);
    /* box-sizing: border-box; */
    border-radius: 4px;
}

.pricing-wrapper #pricing__article__center .pricing__article__top-view {
    background: rgba(108, 89, 180, 0.75);
}

.pricing-wrapper #pricing__article__center button {
    color: #fff;
    background: rgba(108, 89, 180, 0.75);
}

.testimonials {
    height: 500px;
    background: linear-gradient(200.09deg, #2B8BE3 6.12%, #663FB5 90.47%);
    mix-blend-mode: normal;
    position: relative;
}

.testimonials-wrapper {
    margin: 0 auto;
    max-width: 1140px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: sans-serif;
}

.testimonials__main__img {
    margin-top: 90px;
}

.testimonials__text{
    margin-top: 25px;
    color: #fff;
}

.testimonials__text h1 {
    font-size: 28px;
    font-weight: normal;
}

.testimonials__text h5 {
    font-size: 15px;
    font-weight: normal;
}

.testimonials__images {
    margin-top: 97px;
}

.testimonials__images img {
    margin: 0px 7px;
}

.articles {
    height: 1380px;
}

.articles-wrapper {
    margin: 0 auto;
    max-width: 1140px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    font-family: sans-serif;
}

.articles-wrapper h1 {
    color: #424753;
    margin: 0px;
    padding: 0px;
    margin-top: 90px;
    font-size: 28px;
    font-weight: normal;
    text-align: center;
}

.articles__paragraphs {
    margin-top: 86px;
    overflow: hidden;
}

.articles__paragraphs p {
    display: inline;        
    color: #424753;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    padding: 0px;
    margin: 0px;
}

.p1 {
    float: left;
    width: 45%;
}

.p2 {
    float: right;
    width: 45%;
}

.articles__grid {
    margin-top: 89px;
    overflow: hidden; 
}

.article-box {
    display: inline;
}

.articles__grid__img {
    float: left;
    width: 50%;
    height: 400px;
    filter: grayscale(100%);
    filter: brightness(140%);
    background-image: url("../images/mountains.jpg");
    background-position: center center; 
    background-repeat: no-repeat;
    object-fit: contain;
}

.articles__grid__info {
    float: left;
    width: 50%;
    background: #312F38;
    height: 400px;
    position: relative;
}

.article-box__content {
    width: 348px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.article-box__content h2 {
    /* display: inline;   */
    color: #FFFFFF;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: normal;
    line-height: 32px;
}

.article-box__content__text {
    color: rgba(255, 255, 255, 0.6);
    font-size: 17px;
    margin: 0px 10px; 
}

.signup {
    height: 392px;
    background: #F4F5F7;
}

.signup-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
}

.signup-wrapper form {
   padding-top: 42px;
}

.signup-wrapper h2 {
    color: #424753;
    font-size: 28px;  
    padding-top: 90px;
}

.signup__form__icon {
    /* background: #fff; */
    height: 60px;
    padding: 0px;
}

#signup__form__person-icon {
    display: inline;
}

#signup__form__send-icon {
    display: inline;
}

#signup__form__lock-icon {
    display: inline;
}

.signup__form__field {
    width: 244px;
    height: 60px;
    margin: 0px 14px;
    /* background: #FFFFFF; */
    border: 1px solid #E0E0E5;
    box-sizing: border-box;
    border-radius: 4px;
    background-position: 10px 17px;
    background-repeat: no-repeat;
    padding-left: 45px;
}

#signup__form__username {
    background-image: url("../images/person.svg");
}

#signup__form__email {
    background-image: url("../images/paper-plane.svg");
}

#signup__form__password {
    background-image: url("../images/lock.svg");
}

.signup__form__button {
    background: #8779BD;
    border: 2px solid #8779BD;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 23px 55px;
    color: #fff;
    float: right;
}

.signup__accept-terms {
    float: left;
    padding-top: 25px;
    padding-left: 47px;
}

.signup__form__terms-text {
    float: left;
    color: rgba(66, 71, 83, 0.8);
    font-size: 15px;
    padding-top: 25px;
}

footer {
    height: 200px;
    background: #312F38;
}

.footer-wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.footer__left {
    height: 40px;
    width: 40px;
    padding-top: 65px;
    position: relative;
}

.footer__left img {
    position: absolute;
    transform: translateY(50%);
}

.footer__left h6 {
    margin: 0px;
    padding: 0px;
    margin-left: 90px;
    float: left;
    margin-top: 15px;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    padding-top: 15px;
}

.footer__right {
    float: right;
}

.footer__right a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}

.footer__right a:hover, a:active {
    border-bottom: 2px solid #FFFFFF;
}

/* MEDIA QUERY */
@media only screen and (max-width: 600px) {
    .header__center h1 {
        font-size: 23px;
    }

    .header__center h4 {
        font-size: 12px;
    }

    .header__logo {
        margin-left: 50px;
    }

    .header-wrapper nav {
        margin-top: 30px;
        float: right;
        text-align: end;
        margin-right: 30px;
    }

    .header-wrapper nav a {
        display: block;
        font-size: 14px;
    }

    .header__bottom__social-stat {
        padding-right: 10px;
        padding-left: 5px;
    }

    .stats {
        height: auto;
    }

    .stats__wrapper {
        position: relative;
        width: 100%;
    }
}